/* The following sets variables I can use throughout the CSS file.
The colors come from using the color picker in GIMP, which is also
how I cropped the original book logo to make the header. */
:root {
    --bockarna-blue: #7bcadf;
    --bockarna-light-green: #8cbf27;
    --bockarna-dark-green: #468743;
    --darker-green: #294c26;
    --darker-blue: #4f818f;
    --video-width: "560";
}

/* Set spacing around the body and text headers */
body {
    padding: 20px 20px 0px 20px;
    background-color: var(--bockarna-blue);
}
h1 { 
    margin: 15px 0px 15px 0px;
    border-bottom: 2px solid var(--darker-green);
    padding-bottom: 2px;
    color: var(--bockarna-dark-green);
}
h3 {
    margin: 20px 0px 10px 0px;
    color: var(--bockarna-dark-green);
}

/* Make the links show up horizontally */
#links ul li {
    display: inline;
    margin: 0px 5px 0px 5px;
}

#links ul {
    text-align: center;
}

/* Make the primary info text a darker green */
#about p,table {
    color: var(--darker-green);
}

/* Add border around logo to separate it visually */
header img {
    border: 3px solid var(--bockarna-dark-green);
}

/* Set the footer height and color */
footer {
    background-color: var(--darker-blue);
    height: 50px;
}

/* Get the footer text to align left/right */
.footer-div {
    line-height: 50px;
    height: 50px;
}

.left {
    float: left;
    padding-left: 25px
}

.right {
    float: right;
    padding-right: 25px;
}

/* Make the about text centered */
#about p {
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

/* Make the videos centered */
.video-wrapper {
    width: var(--video-width);
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

iframe {
    display: block;
    margin: auto;
}

/* Make the table centered and more spaced out */
table {
    margin: auto;
    padding-top: 5px;
}

/* Set the left column to be right-aligned and bold */
tr td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
}

tr td:last-child {
    text-align: left;
    padding-left: 5px;
}

tr {
    padding-top: 2px;
    padding-bottom: 2px;
}
